nav{
    font-size: 35px;
    color: #fff;
}
nav{
    position: fixed;
    width: 15%;
    height: 100vh;
    background: #000;
}
.img-sesion{
    margin: 10px 0 0 0;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
}
.pieza{
    margin: 2px 0 2px 0;
}
@media only screen and (max-width: 960px){
    nav{
        width: 30%;
    }
}
@media only screen and (max-width: 576px){
    nav{
        width: 40%;
    }
    .img-sesion{
        width: 60px;
        height: 60px;
    }
}
/**h*/